@reset-global pc;

:root {
    --aquamarine: #7afae3;
    --medium-purple: #7a59e4;
    --burnt-sienna: #ea5c5a;
}

body {
    color: #404040;
}

.wrapper {
    height: 100vh;
}

h1,
h2 {
    font-weight: 600;
}

h1 {
    max-width: 400px;
    margin-bottom: 52px;
    font-size: 52px;
    line-height: 52px;
    text-align: center;
}

h2 {
    margin-bottom: 36px;
    font-size: 28px;
    line-height: 30px;
}

li {
    font-size: 30px;
    line-height: 40px;
}
