@reset-global pc;

:root {
    --aquamarine: #7afae3;
    --medium-purple: #7a59e4;
    --burnt-sienna: #ea5c5a;
}

body {
    color: #404040;
}

.wrapper {
    height: 100vh;
}

h1,
h2 {
    font-weight: 600;
}

h1 {
    margin-bottom: 36px;
    font-size: 28px;
    line-height: 30px;
}

h2 {
    max-width: 400px;
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

li {
    font-size: 30px;
    line-height: 40px;
}

@media screen and (max-width: 800px) {
    h1 {
        margin-bottom: 12px;
        font-size: 22px;
    }

    h2 {
        font-size: 36px;
        line-height: 36px;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        display: none;
    }

    li {
        font-size: 20px;
        line-height: 28px;
    }
}
