form {
    position: relative;
}

input {
    position: relative;
    display: block;
    width: 185px;
    padding: 10px 0;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    border-bottom: 2px solid #7afae1;
}

label {
    position: relative;
    display: block;
    margin-bottom: 24px;
    font-size: 14px;
}

.suggestions {
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 2;
    min-width: 300px;
    background-color: #fff;
    border-radius: 5px;
}

.suggestion {
    display: block;
    margin: 12px;
    color: var(--burnt-sienna);
    cursor: pointer;
}

.date {
    display: block;
}

.calender {
    background-color: var(--aquamarine);
}

.form-field-error {
    position: absolute;
    font-size: 10px;
}

.bold {
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-areas: "sidebar" "content";
        grid-template-rows: 160px 1fr;
        grid-template-columns: 1fr;
    }

    label {
        display: inline-block;
        margin: 0 12px 0 0;
    }
}

@media screen and (max-width: 550px) {
    .grid {
        grid-template-rows: 210px 1fr;
    }

    input {
        margin-bottom: 0;
    }

    label {
        display: block;
        margin-bottom: 16px
    }
}
