.button {
    display: block;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 600;
    color: var(--burnt-sienna);
    cursor: pointer;
    background-color: var(--aquamarine);
    border: none;
    border-radius: 5px;

    &:focus {
        outline: 0;
    }

    &:disabled {
        filter: opacity(25%);
    }
}
