.button {
    display: block;
    padding: 10px 12px;
    margin-top: 36px;
    font-size: 14px;
    font-weight: 600;
    color: var(--burnt-sienna);
    vertical-align: bottom;
    cursor: pointer;
    background-color: var(--aquamarine);
    border: none;
    border-radius: 5px;
    transition: .5s filter;

    &:hover {
        filter: brightness(90%);
        transition: .5s filter;
    }

    &:focus {
        outline: 0;
    }

    &:disabled {
        cursor: default;
        filter: opacity(25%);
    }
}

@media screen and (max-width: 800px) {
    .button {
        display: inline-block;
        padding: 10px 6px;
        margin-top: 0;
    }
}

@media screen and (max-width: 550px) {
    .button {
        display: block;
    }
}
