.sidebar {
    box-sizing: border-box;
    padding: 24px;
    color: var(--aquamarine);
    background-color: var(--burnt-sienna);
}

@media screen and (max-width: 550px) {
    .sidebar {
        padding: 12px;
    }
}
