.sidebar {
    padding: 24px;
    background-color: #e0ffff;
}

form {
    position: relative;
}

input {
    display: block;
    padding: 6px;
    margin-bottom: 24px;
}

.button {
    display: block;
    padding: 6px 12px;
}

.suggestions {
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 2;
    min-width: 350px;
    background-color: #fff;
}

.suggestion {
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
}

.date {
    display: block;
}
